*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.page1{
    width: 100%;
    min-height: 175vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #191917;
}
nav{
    position: absolute;
    top: 0;
    width: 92%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 35vw;
    padding: 2.5vw 0;
}
nav>p{
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9vw;
}
nav>p:nth-child(2){
    font-size: 1.1vw;
    letter-spacing: 3px;
    font-weight: 800;
}
.page1-img{
    width: 30%;
    height: 70vh;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.page1-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page1>h1{
    color: #ffffff;
    font-size: 18vw;
    line-height: 0.8;
}
.page1 .digi{
    font-family: serif;
    font-weight: 100;
    font-size: 20vw;
    position: relative;
}